@charset "UTF-8";

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #292929;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
h2 {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #20515d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #292929;
    color: #ffffff;
}

input[type="text"]:focus {
    border-color: #2f7585;
}

button[type="submit"], button[type="button"] {
    background-color: #20515d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    width: 100%;
}

button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #2f7585;
}

/* Back Button */
button[type="button"] {
    background-color: #8d8d8d;
}

button[type="button"]:hover {
    background-color: #2f7585;
}

/* Error Message */
p {
    color: red;
    text-align: center;
    font-size: 16px;
}
