<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         id="WebApp_ID" version="6.0">
  
  <display-name>MegaCityCab</display-name>
  
  <!-- Welcome file list -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

<servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
</servlet-mapping>


  <!-- LoginServlet Mapping -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>

<!-- BookingServlet Mapping -->
<servlet>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>controller.BookingServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
</servlet-mapping>


 <!-- AddCarServlet Mapping -->
  <servlet>
    <servlet-name>AddCarServlet</servlet-name>
    <servlet-class>controller.AddCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarServlet</servlet-name>
    <url-pattern>/AddCarServlet</url-pattern>
  </servlet-mapping>



  <!-- AddDriverServlet Mapping -->
  <servlet>
    <servlet-name>AddDriverServlet</servlet-name>
    <servlet-class>controller.AddDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriverServlet</servlet-name>
    <url-pattern>/AddDriverServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- AddUserServlet Mapping -->
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>controller.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>

  <!-- UpdateUserServlet Mapping -->
  <servlet>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>controller.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>

  <!-- DeleteUserServlet Mapping -->
  <servlet>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>

  <!-- UpdateDriverServlet Mapping -->
  <servlet>
    <servlet-name>UpdateDriverServlet</servlet-name>
    <servlet-class>controller.UpdateDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDriverServlet</servlet-name>
    <url-pattern>/UpdateDriverServlet</url-pattern>
  </servlet-mapping>

  <!-- DeleteDriverServlet Mapping -->
  <servlet>
    <servlet-name>DeleteDriverServlet</servlet-name>
    <servlet-class>controller.DeleteDriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDriverServlet</servlet-name>
    <url-pattern>/DeleteDriverServlet</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>UpdateDriverServlet</servlet-name>
    <servlet-class>controller.UpdateDriverServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateDriverServlet</servlet-name>
    <url-pattern>/UpdateDriverServlet</url-pattern>
</servlet-mapping>


  <!-- DeleteCarServlet Mapping -->
  <servlet>
    <servlet-name>DeleteCarServlet</servlet-name>
    <servlet-class>controller.DeleteCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCarServlet</servlet-name>
    <url-pattern>/DeleteCarServlet</url-pattern>
  </servlet-mapping>
  
<servlet>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <servlet-class>controller.UpdateBookingServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>UpdateBookingServlet</servlet-name>
    <url-pattern>/UpdateBookingServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ViewBillServlet</servlet-name>
    <servlet-class>controller.ViewBillServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewBillServlet</servlet-name>
    <url-pattern>/ViewBillServlet</url-pattern>
</servlet-mapping>



  


 <session-config>
    <session-timeout>20</session-timeout> <!-- Time in minutes -->
</session-config>

</web-app>
</element>